<div class="p-3 pb-md-4 mx-auto text-center"> 
  <h1 class="display-4 fw-normal text-body-emphasis">UF de hoy $12.345</h1> 
  <p class="fs-5 text-body-secondary">Ultima actualización 12/09/2025</p> 
</div>
<div class="d-flex justify-content-center mt-4">
  <%= form_with url: 'reports_path', method: :get, local: true, class: "row g-2 align-items-center" do |f| %>
    <div class="col-auto">
      <%= f.select :month, Date::MONTHNAMES.compact.each_with_index.map { |m, i| [m, i+1] },
        { prompt: "Selecciona mes" },
        class: "form-select" %>
    </div>

    <div class="col-auto">
      <%= f.select :year, (2020..Date.today.year).to_a.reverse,
        { prompt: "Selecciona año" },
        class: "form-select" %>
    </div>

    <div class="col-auto">
      <%= f.submit "Buscar", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>


<%= render 'table' %>
<% render 'calendar' %>